<mat-icon id="close-icon" class="relative float-right cursor-pointer" mat-dialog-close>close</mat-icon>
<h1 class="text-center text-3xl font-bold my-6">Neues Query hinzufügen</h1>

<form
  [formGroup]="form"
  class="flex flex-col justify-center align-middle content-center"
>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Query</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Page</mat-label>
    <input matInput formControlName="page" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Search Volume</mat-label>
    <input matInput formControlName="esv" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="input">
      <mat-label>Typ</mat-label>
      <mat-select formControlName="typ">
        <mat-option value="M">M</mat-option>
        <mat-option value="T">T</mat-option>
      </mat-select>
  </mat-form-field>

  <button
    [disabled]="form.invalid"
    class="justify-center cursor-pointer bg-red-300 rounded-xl text-white w-50 py-1 px-4 m-auto text-xl disabled:bg-red-200 disabled:cursor-not-allowed"
    (click)="add(form)"
  >
    Keyword hinzufügen
  </button>
</form>
