.title {
  position: relative;
  right: 1.5rem;
  width: 450px;
  height: 65px;
  bottom: 1.5rem;
  background: #d6d3f7;
  margin-bottom: 1rem;
}

.mat-form-field-flex {
  height: 70px !important;
}

.clusterBtn {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: rgb(96, 97, 192);
  width: 100%;
  height: 2.5rem;
  border: 1px solid rgb(96, 97, 192);
  margin: auto;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;

  :disabled {
    cursor: not-allowed;
  }
}
