.date-range {
  position: absolute;
  right: 6.5rem;
  text-align: center;
  width: 20rem;
  min-width: 8rem;
  height: 30px;
  font-size: 16px;
  border: 2px solid rgba(252, 64, 64, 0.616);
  border-radius: 10px;
  letter-spacing: 1px;
  color: rgba(252, 64, 64, 0.774);
  cursor: pointer;
}
