
<app-date class="float-right w-80"></app-date>
 <button
      *ngIf="hasFilters || filters.query !== ''"
      class="btn-filters mb-10 mx-2"
      matTooltip="Clear Filters"
      matTooltipPosition="above"
      (click)="resetFilters()"
    >
      Clear Filters
      <mat-icon
        class="relative top-0.5 w-1 h-1"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="close"
      ></mat-icon>
    </button>
<div>
  <section class="flex ml-6">
    <h1 class="font-bold text-2xl mr-6">
      Page: "{{ page?.name | transformString }}"
    </h1>
    <!-- <button class="btn" (click)="edit(page)" [matTooltip]="'Edit'">
      Bearbeiten
    </button> -->
  </section>
  <section class="flex justify-between w-4/5 px-6 my-4">
    <!-- <div class="font-bold">Typ</div> -->
    <!-- <div class="font-bold">
      {{ url?.typ }}
    </div> -->
    <!-- <div class="font-bold">Suchvolumen</div>
    <div>
      {{ url?.suchvolumen }}
    </div>
    <div class="font-bold">Tracken</div>
    <div>
      {{ url?.tracken === true ? 'Ja' : 'Nein' }}
    </div> -->
  </section>
  <div class="divider"></div>
  <table
    mat-table
    #table
    [dataSource]="dataSource"
    matSort
    matSortActive="created"
  >
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>Queries</th>
      <td mat-cell *matCellDef="let row" (click)="details(row)">{{ row?.query_name }}</td>
    </ng-container>

    <ng-container matColumnDef="avgPosition">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
      <td mat-cell *matCellDef="let row">
        {{ row?.avgPosition.toFixed(2) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalImpressions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Impressions</th>
      <td mat-cell *matCellDef="let row">{{ row?.totalImpressions }}</td>
    </ng-container>

    <ng-container matColumnDef="totalClicks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Clicks</th>
      <td mat-cell *matCellDef="let row">{{ row?.totalClicks }}</td>
    </ng-container>

    <ng-container matColumnDef="avgCtr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ctr</th>
      <td mat-cell *matCellDef="let row">
        {{ row?.avgCtr | CtrTransform}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns">
      <ng-container *ngFor="let url of row.urls">
        {{ url.name | transformString }}
      </ng-container>
    </tr>
  </table>
  <mat-paginator
    #paginator
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 20, 50, 100]"
    aria-label="Select page"
  ></mat-paginator>
</div>
