.date-range {
  display: flex;
  justify-content: space-between;
  padding: 3px 10px 10px 15px;
  min-width: 8rem;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  width: 20rem;
  background: #d3e3fd;
}
