.btn {
  min-width: 8rem;
  height: 30px;
  font-size: 18px;
  border: 2px solid rgba(252, 64, 64, 0.616);
  border-radius: 10px;
  letter-spacing: 1px;
  color: rgba(252, 64, 64, 0.774);
  margin-top: 2px;
}

table {
  width: 100%;
  background: none;
}

.divider {
  border-top: 2px solid black;
  width: 100%;
}

mat-paginator {
  background: none;
}
