<mat-icon id="close-icon" class="relative float-right cursor-pointer" mat-dialog-close>close</mat-icon>
<h1 class="text-center text-3xl font-bold my-6">
  "{{ type === 'page' ? ( data.page.name | transformString) : data.query.name }}" bearbeiten
</h1>
<form
  *ngIf="type === 'query'"
  [formGroup]="queryForm"
  class="flex flex-col justify-center align-middle content-center"
  (submit)="edit(queryForm)"
>
   <mat-form-field appearance="outline" class="input">
    <mat-label>Designated Page</mat-label>
    <input matInput formControlName="designated" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Estimated Search Volume</mat-label>
    <input matInput formControlName="est_search_volume" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Typ</mat-label>
    <input matInput formControlName="typ" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Tracken</mat-label>
    <input matInput formControlName="tracken" />
  </mat-form-field>
  <button
    [disabled]="queryForm.invalid"
    type="submit"
    class="justify-center cursor-pointer bg-red-300 rounded text-white w-56 py-2 px-4 m-auto text-xl disabled:bg-red-200 disabled:cursor-not-allowed"
    [mat-dialog-close]="queryForm"
  >
    Speichern
  </button>
</form>

<form
  *ngIf="type === 'page'"
  [formGroup]="pageForm"
  class="flex flex-col justify-center align-middle content-center"
  (submit)="edit(pageForm)"
>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Query</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Typ</mat-label>
    <input matInput formControlName="typ" />
  </mat-form-field>
  <button
    [disabled]="pageForm.invalid"
    type="submit"
    class="justify-center cursor-pointer bg-red-300 rounded text-white w-56 py-2 px-4 m-auto text-xl disabled:bg-red-200 disabled:cursor-not-allowed"
    [mat-dialog-close]="pageForm"
  >
    Speichern
  </button>
</form>
