<h1 class="text-center text-3xl font-bold my-6">
  "{{ type === 'urls' ? ( data.url.name | transformString) : data.keyword.name }}" bearbeiten
</h1>

<form
  [formGroup]="form"
  class="flex flex-col justify-center align-middle content-center"
  (submit)="edit(form)"
>
  <mat-form-field appearance="outline" class="input">
    <mat-label>{{type === 'urls' ? 'Keyword' : 'URL'}}</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="input" *ngIf="type !== 'urls'">
    <mat-label>Suchvolumen</mat-label>
    <input matInput formControlName="suchvolumen" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Typ</mat-label>
    <input matInput formControlName="typ" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="input" *ngIf="type !== 'urls'">
    <mat-label>Tracken</mat-label>
    <input matInput formControlName="tracken" />
  </mat-form-field>
  <button
    [disabled]="form.invalid"
    type="submit"
    class="justify-center cursor-pointer bg-red-300 rounded text-white w-56 py-2 px-4 m-auto text-xl disabled:bg-red-200 disabled:cursor-not-allowed"
    [mat-dialog-close]="form"
  >
    Speichern
  </button>
</form>
