table {
  width: 100%;
  background: none;
}

mat-paginator {
  background: none;
}

input {
  margin: 2.25rem 0 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 15px;
  width: 15rem;
  font-size: 20px;
  padding: 0.25rem 0.5rem;
  letter-spacing: 1px;
}

.btn {
  min-width: 8rem;
  height: 35px;
  font-size: 20px;
  border: 2px solid rgba(252, 64, 64, 0.616);
  border-radius: 10px;
  letter-spacing: 1px;
  color: rgba(252, 64, 64, 0.774);
}

.clear {
  color: rgba(252, 64, 64, 0.774);
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: bold;
}

.example-loading-shade {
  position: absolute;
  top: 15rem;
  left: 0;
  bottom: 10rem;
  right: 0;
  background: rgba(0, 0, 0, 0.089);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aggregates {
  color: rgba(252, 64, 64, 0.774);
}


.mat-row:hover .mat-cell {
  cursor: pointer;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
