<mat-nav-list class="navbar">
  <a
    mat-list-item
    [routerLink]="'/queries'"
    matTooltip="Queries"
    routerLinkActive="active"
    [disableRipple]="true"
    class="nav"
  >
    Queries
  </a>
  <a
    mat-list-item
    [routerLink]="'/pages'"
    matTooltip="Pages"
    routerLinkActive="active"
    [disableRipple]="true"
    class="nav"
  >
    Pages
  </a>
  <a
    mat-list-item
    matTooltip="New Query"
    routerLinkActive="active"
    [disableRipple]="true"
    class="nav"
  >
    Neue Query
  </a>
  <a
    mat-list-item
    matTooltip="Tags"
    routerLinkActive="active"
    [disableRipple]="true"
    class="nav"
  >
    Tags
  </a>
  <button class="nav absolute right-6" mat-list-item (click)="onLogout()" matTooltip="Logout">
    logout
  </button>
</mat-nav-list>
