<div
  class="overflow-hidden flex items-center justify-center h-full bg-grey-background"
>
  <div class="login-div">
    <div class="logo">
      <img src="../../../../assets/images/bg2.png" alt="" />
    </div>
    <h1 class="header">Welcome</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
      <div class="main">
        <div class="email">
          <input
            matInput
            placeholder="Enter email"
            email
            formControlName="email"
          />
        </div>
        <div class="password">
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <div class="notification notification-danger" *ngIf="hasError">
          <p>{{ errMsg }}</p>
        </div>
        <button
          type="submit"
          class="login-btn w-full h-16 tracking-wider text-white text-2xl mt-6 mb-8 relative rounded-3xl"
        >
          Login
        </button>

        <asl-google-signin-button
          type="standard"
          size="large"
          text="signin_with"
          shape="pill"
          locale="en_EN"
          width="360"
        >
        </asl-google-signin-button>
      </div>
    </form>
  </div>
</div>
